.App {
  display: grid;
  height: 100vh; width: 100vw;
  grid-template-rows: auto 5rem;
}

.SynthControls {
  justify-content: flex-end;
  align-items: center;
  background-color: hsl(0, 0%, 20%);
  display: flex;
  padding: 0 .5rem;
}

.playToggle {
  background-color: hsl(0, 0%, 60%);
  border: 3px solid hsl(0, 0%, 40%);
  border-radius: .5rem;
  color: #fff;
  font-size: 2rem;
  text-transform: uppercase;
  height: 4rem;
  width: 4rem;
}
