.SequencerGrid {
  background-color: hsl(300, 55%, 45%);
  border-left: 1px solid hsl(300, 85%, 30%);
  display: flex;
  justify-content: space-around;
  align-items: stretch;
}

.SequencerRow {
  border-right: 1px solid hsl(300, 85%, 30%);
  border-top: 1px solid hsl(300, 85%, 30%);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  flex-grow: 1;
}

.SequencerRow--active {
  background-color: hsl(300, 85%, 55%);
  box-shadow: 0 0 .5rem .5rem hsl(300, 85%, 65%);
}

.SequencerColumn {
  flex-grow: 1;
  border-bottom: 1px solid hsl(300, 85%, 30%);
}

.SequencerColumn input[type="checkbox"] {
  display: none;
}

.SequencerColumn--active {
  background-color: hsl(300, 85%, 65%);

  transition:
    background-color .25s ease,
    box-shadow .25s ease;
}

.SequencerRow--active .SequencerColumn--active {
  background-color: hsl(300, 85%, 80%);
  box-shadow: 0 0 .5rem .5rem hsl(300, 85%, 85%);
}
